[Unit]
Description=RClone Mount
Requires=wait-network-online.service
After=wait-network-online.service

[Service]
Environment=DOWNLOAD_DIR="%h/Downloads"
ExecStartPre=/bin/mkdir -p "$DOWNLOAD_DIR"
ExecStart=/usr/bin/env rclone mount urain39-msod:/ "$DOWNLOAD_DIR" --vfs-cache-mode writes --vfs-cache-max-age 2h --vfs-cache-max-size 16G --use-mmap
# Wait until RClone is really be mounted.
ExecStartPost=/bin/sh -c 'while ! grep -q "$DOWNLOAD_DIR" /proc/mounts; do echo "Waiting \x27$DOWNLOAD_DIR\x27 mount..."; sleep 3; done'
TimeoutStartSec=120s

[Install]
WantedBy=default.target
